.common-header {
    position: sticky;
    right: 0;
    top: 0;
    left: 0;
    padding: 0 32px;
    background-color: #fff;
    z-index: 20;
    &-introduce {
        display: flex;
        align-items: center;
    }
    &-navs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        z-index: 20;
        .common-navs-item {
            padding: 10px 0 15px;
            margin: 0 40px;
            font-size: 16px;
            font-weight: var(--font-bold);
            cursor: pointer;
            &:hover {
                color: var(--base-nav-color);
            }
        }
    }
    &-logo {
        display: flex;
        align-items: center;
        flex: 1 1;
        cursor: pointer;
        img {
            width: 267px;
            height: 80px;
        }
    }
    &-search {
        display: flex;
        align-items: center;
        border: 1px solid var(--border-color);
        border-radius: 20px;
        padding: 8px 10px 8px 16px;
        flex: 1 1;
        position: relative;
        height: 40px;
        transition:
            border-color 0.2s ease-in-out,
            border-width 0.2s ease-in-out;
        &:focus-within {
            border-color: var(--base-nav-color);
            border-width: 2px;
        }
        input {
            color: inherit;
            font-size: 14px;
            border: none;
            background-color: inherit;
            outline: none;
            width: 85%;
            ::placeholder {
                color: inherit;
            }
            &:focus {
                border: none;
                outline: none;
            }
        }
        > div {
            display: flex;
            align-items: center;
            border-left: 1px solid var(--border-color);
            position: absolute;
            height: 100%;
            right: 8px;
            padding-left: 10px;
        }
    }
    &-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 50px;
        flex: 1 1;
        .common-header-login {
            &-title {
                font-size: 12px;
            }
            &-infor {
                width: 100%;
                display: flex;
                align-items: center;
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        &-cart {
            cursor: pointer;
            display: flex;
        }
    }
}
